{%extends 'blank.html'%}
{%block content%}
 <div class="col-lg-18 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" method="POST" id="script">
                                    {%csrf_token%}
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input value="{{script.name}}" style="" type="text"
                                                class="form-control p-0 border-0" name="name"> </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Stock</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input value="{{script.stock}}" style="" type="number"
                                                class="form-control p-0 border-0" name="stock">

                                    </div>
                                        <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Minimum</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input value="{{script.minimum}}" style="" type="number"
                                                class="form-control p-0 border-0" name="minimum">

                                    </div>

                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                             <input class="btn btn-success" type="submit" onclick="myFunction()">
                                        </div>

                                    </div>
                                        <div class="form-group mb-4">
                                            <div class="col-sm-2">
                                             <a href="{%url 'dashboard_inventory_delete'%}" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Delete Item</a>
                                        </div>
                                        </div>
                                </form>
                            </div>
                        </div>
 </div>


{%endblock content%}
