<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>Union Canteen</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="https://www.creativefuel.io/dashboard/suyash/canteen_index/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://www.creativefuel.io/dashboard/suyash/canteen_index/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.creativefuel.io/dashboard/suyash/canteen_index/css/bootstrap.min.css">
	<!-- Site CSS -->
    <link rel="stylesheet" href="https://www.creativefuel.io/dashboard/suyash/canteen_index/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://www.creativefuel.io/dashboard/suyash/canteen_index/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://www.creativefuel.io/dashboard/suyash/canteen_index/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="https://www.creativefuel.io/dashboard/suyash/canteen_index/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{%url 'login'%}">Login</a></li>


					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-left">
				<img src="https://www.creativefuel.io/dashboard/suyash/canteen_index/images/slider-01.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Union Canteen</strong></h1>
							<p class="m-b-40">Best In class Technology and Interface with secure user experience</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Ordering</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-left">
				<img src="https://www.creativefuel.io/dashboard/suyash/canteen_index/images/slider-02.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Union Canteen</strong></h1>
							<p class="m-b-40">Best In class Technology and Interface with secure user experience.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Insights</a></p>
						</div>
					</div>
				</div>
			</li>

		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->

	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1></h1>
						<h4></h4>
						<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="images/about-img.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						" If you're not the one cooking, then compliment the chef. "
					</p>
					<span class="lead">Michael Strahan</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->




	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<h3>About Us</h3>
					<p>Innovative Startup to provide canteens with great Tech Boosts.</p>
				</div>

				<div class="col-lg-4 col-md-6">
					<h3>Contact information</h3>
					<p class="lead">Indore Madhya Pradesh</p>
					<p class="lead"><a href="#">9644044978</a></p>
					<p><a href="#"> Suyash@admin.com</a></p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3>Opening hours</h3>
					<p><span class="text-color">Monday: </span>Closed</p>
					<p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2018 <a href="#">Union Canteen</a>
					</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	<!-- ALL JS FILES -->
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/jquery-3.2.1.min.js"></script>
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/popper.min.js"></script>
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/jquery.superslides.min.js"></script>
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/images-loded.min.js"></script>
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/isotope.min.js"></script>
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/baguetteBox.min.js"></script>
	<script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/form-validator.min.js"></script>
    <script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/contact-form-script.js"></script>
    <script src="https://www.creativefuel.io/dashboard/suyash/canteen_index/js/custom.js"></script>
</body>
</html>